.qtipex{
	border-radius: 5px;
	border:7px #A2D959 solid;
	margin-bottom: 100px;
	max-width: 600px;
	min-width: 400px;
  }

.tip-content h4{
	margin: 5px auto;
	font: bolder 14px tahoma;
}

.tip-content ul{
	width: 351px;
	margin: 0 auto;
}
.tip-content li{
	width: 100%;
	text-align: left;
	white-space: normal;
	margin-bottom: 5px;
	font: 13px/1.54 microsoft yahei,arial;
	overflow: hidden;
	list-style: none;
}
.tip-content li .tip_title{
	float: left;
	width: 30px;
	margin-right: 10px;
	white-space: nowrap;
	font-family: Courier;
	font-weight: bolder;
}
.tip-content li .tip_content{
	float: left;
	width: 310px;
	white-space: normal;
}
.qtip-content{
	color: #A27D35;
}