* {
	margin: 0;
	padding: 0;
}
body {
	width: 600px;
	height: 500px;
	min-width: 400px;
	font-family: "微软雅黑", "Microsoft YaHei", "宋体", Verdana, Geneva, sans-serif;
	background-color: #fafcff;
	overflow: hidden;
}
html{
	width: 600px;
	height: 500px;

}
a{
	text-decoration: none;
}

li{
	list-style: none;
}

.right{
	float: right;
}

#main_container .header_container{
	height: 38px;
	background-color: #377bee;
}

#main_container .header_container .title{
	position: absolute;
	top: 6px;
	left: 10px;
	color: white;
	font-size: 20px;
}

#main_container .header_container .option{
color: #FFF;
margin-top: 10px;
margin-right: 10px;
white-space: nowrap;
overflow: hidden;
font-size: 16px;
padding-left: 25px;
/*background: url(../img/option.png) 0px 1px no-repeat;*/
line-height: 21px;
}

#main_container .header_container ul{
	padding-top: 7px;
	width:162px;
	height: 31px;
	margin-left: 150px;
	font-size: 16px;
	color: white;
	overflow: hidden;;
}

#main_container .header_container ul li{
	padding:4px 13px;	
	line-height: 21px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	float: left;
	list-style: none;
	height: 23px;
	margin: 0px 1px;
	cursor: pointer;
}

#main_container .header_container ul li.active{
	color: #138DE1;
	background: #fafcff;
}

.search_container {
	margin: 10px 0;
}

.search_container .searchbox{
	margin-left: 22px;
}

#keyword {
	width: 407px;
	height: 22px
	line-height:22px;
	padding: 8px;
	border: #a4b7c5 1px solid;
	border-radius: 2px;
	box-shadow: 0 0 2px #a4b7c5;
	color:#a4b7c5;
	font-size: 16px;
	float: left;
	outline: none;;
	margin: 3px 10px;
}

.search_container .s{
	padding: 8px 30px;
	display: inline;
	width: 115px;
	height: 40px;
	line-height: 40px;
	border: none;
	text-decoration: none;
	text-align: center;
	background-color: #138de1;
	border-radius: 5px;
	cursor: pointer;
}


.content_container{
	margin: 10px 0;
}

.content_container .header{
	padding: 0 10px;
}
.content_container .header .navi{
	float: right;
}

.content_container .body{
	margin: 10px 2px;
	padding: 5px 7px;
}

.content_container .body .item{
	background: #D4F2F7;
	margin-bottom: 15px;
}

.content_container .body .item .pron{
	background:  url(../img/SpeakerOffA16.png) 0px 8px no-repeat;
	width: 22px;
	height: 26px;
	float: left;
}
.content_container .body .item .pron:hover{
	background-image:  url(../img/SpeakerOffA16on.png) ;
}

.content_container .body .item .word{
	background-color: #A0E2EC;
	padding: 0px 6px;
	height: 28px;
	line-height: 28px;
	font-size: 20px;
}

#searchAction{
	color: #fff;
}
.content_container .body .item ul li{
	margin: 8px 8px;
	clear: both;
	overflow: hidden;
	color: #4d4d4d;
	font-family: microsoft yahei;
}

.content_container .body .item ul li .tip_title{
	float: left;
	margin-right: 5px;
	white-space: nowrap;
	width: 40px;
}

.content_container .body .item h4{
	margin-right: 10px;
	float: left;
	color: #333;
}

.content_container .body .item ul li .tip_content{
	white-space: normal;
	font-size: 13px;
	float: left;
}

.content_container .body .item .right{
	width: 20%;
	text-align: right;
}

.del{
	background: transparent url(../img/del.png) 0 0 no-repeat;
	background-position: 1px 5px;
	width: 16px;
	height: 19px;
	float: right;
	margin: 2px 5px;
}

#option_container{
	display: none;
}